@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

#Link
{
    margin-bottom: 10px;
    margin-top: 15px;
}

#Logo_Favicon
{
    margin:0;
    padding: 30px;
}
.site-footer {
    background-color: #26272b;
    padding: 40px 30px;
    font-size: 15px;
    line-height: 25px;
    color: #737373;
    box-shadow: 0 10px 20px rgba(35, 36, 36, 0.5);
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 5px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 2%;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    color: #eb6857;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #fff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #eb6857;
    text-decoration: none;
}

.social-icons {
    text-align: right;
}

.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 4px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 2px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.logo {
    color: #eb6857;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}